<div class="top-background" style="background-image: url('/static/images/Congaree NP.webp'); background-size: cover; background-position: center;">
    <div class="semi-transparent-box">
        <h1>Introducing Soda City Outdoors!</h1>
        <p>Your go-to community for outdoor activities, events, and adventure within the greater Columbia area. Join us for exciting outdoor events, meet like-minded people, 
            and explore what the outdoors has to offer!</p>
        <button class="join-now-button" onclick="window.location.href='/signup'">Join Now!</button>
    </div>
</div>

<section id="services">
    <h2>Our Events</h2>
    <p>We organize, host, and bring folks together and outdoors for a wide variety of events. Check them out below!</p>
    <!-- Events and Calendar Links as Buttons -->
    <button class="events-button" onclick="window.location.href='/events'">Upcoming Events</button>
    <button class="events-button" onclick="window.location.href='/calendar'">Event Calendar</button>
</section>

<section id="about">
    <h2>About Us</h2>
    <p>Soda City Outdoors is a group designed to get people together, indoors and outdoors! We bring people together in public spaces for private and public events.</p>
    <p>Casual private events such as walks in local parks, bike rides, riverwalks, brunch before Soda City Market, beer and wine events at local establishments, and more!
        Structured private events include day trips to the National Whitewater Center in Charlotte, skydiving in Chester, overnight camping in the region, float trips down the Saluda River, picnic on Folly beach, and low-key things such as group walks in many of our state parks.</p>
    <p>We plan to attend public events as a group, such as Soda City Market on Saturdays, swing dance lessons, jazz concerts, and local celebratory fundraisers such as Oyster roasts, BBQs, and the Mardi Gras parade.
        Many events are member-led, so bring us your best ideas.</p>
</section>    

<section id="contact">
    <h2>Contact Us</h2>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>
        <label for="email">Email Address:</label>
        <input type="email" id="email" name="email"><br><br>
        <button class="submit-button" type="submit">Submit</button>
    </form>
</section>